@media(max-width:768px){
	body{
		background-color: red;
	}
}
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: yellow;
	color: black;
	padding: 20px;
	text-align: center;
}
.imagen{
	width: 150px;
	height: 150px;
	position: relative;
	left: 7px;
	top: -40px
}
.imagen2{
	float: none;
	margin-right: 0px;
	width: 370px;
	height: 280px;
}
.YouTube{
	width: 150px;
	height: 150px;
	position: relative;
	right: -600px;
	top: 0px
}
.imagenFooter{
	width: 150px;
	height: 150px;
	position: relative;
	left: 7px;
	top: 0px
}
b{
	position: fixed;
	right: 700px;
}
span{
	position: fixed;
	right: 400px;
}
footer{
	background-color: gray;
}